<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Text Utils </title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TextUtils.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="alert alert-success" role="alert">
    Welcome to TextUtils.com... <strong>You can do anthing with your text here!</strong>
  </div>

  <div class="container">
    <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading">WELCOME !!</h4>
        <p>Please! Enter the text below.</p>
        <hr>
        <p class="mb-0">Select the functionality according to your work</p>
      </div>

      <form action="/analyze" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <textarea name='text' class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
        </div>
        <div class="form-check form-switch">
            <input name='removepunc' class="form-check-input" type="checkbox" id="flexSwitchCheckDefault1">
            <label class="form-check-label" for="flexSwitchCheckDefault1">Remover Punctuation</label>
        </div>
        <div class="form-check form-switch">
            <input name='uppercase' class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2">
            <label class="form-check-label" for="flexSwitchCheckDefault2">UPPER CASE</label>
        </div>
          <div class="form-check form-switch">
            <input name='newlineremove' class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3">
            <label class="form-check-label" for="flexSwitchCheckDefault3">New Line Remover</label>
          </div>
        <div class="form-check form-switch">
            <input name='spaceremove' class="form-check-input" type="checkbox" id="flexSwitchCheckDefault4">
            <label class="form-check-label" for="flexSwitchCheckDefault4">Remove Extra Space</label>
        </div>
          <br>
          <button type="submit" class="btn btn-dark">Submit</button>
          <hr>
      </form>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>